*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    position: relative;
}

ul {
    text-decoration: none;
}

a {
    text-decoration: none;
}

/*======================= VARIABLE CSS ==============================*/
:root {
    --header-height: 3rem;

    /*============== Colors =================*/
    --main-color: #0071FF;
    --main-white: #FFF;
    --main-black: #121212;
}