*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    position: relative;
}

ul {
    text-decoration: none;
}

a {
    text-decoration: none;
}

/*======================= VARIABLE CSS ==============================*/
:root {
    --header-height: 3rem;

    /*============== Colors =================*/
    --main-color: #0071FF;
    --main-white: #FFF;
    --main-black: #121212;

    /*============== Font and typography =================*/
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*============== Font weight =================*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*============== Margin controls =================*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*============== z index =================*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*============== Hover overlay =================*/
    --img-transition: 0.3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}